<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:fragment="carousel"  >
    <div class="col-xs-12 col-md-12 col-lg-12">
        <div id="myCarousel" class="carousel slide">
            <!-- 轮询主体 -->
            <div class="carousel-inner">
                <div class="active item"  th:each="Article,iterStat : ${carouseList}" th:class="${iterStat.index == 0} ? 'active item':'item'" >
                    <img src="" th:src="${Article.artShortPic}"/>
                    <div class="blog-slider-desc am-slider-desc ">
                        <div class="blog-text-center blog-slider-con">
                            <span>
                                <a href="" th:href="@{'user/'+${Article.userId}}" class="blog-color" th:text="${Article.nickName}"></a>
                            </span>
                            <h1 class="blog-h-margin">
                                <a href="" th:href="@{'art/'+${Article.artId}}" th:text="${Article.artName}"></a>
                            </h1>
                            <p th:text="${Article.artShort}"></p>

                        </div>
                    </div>
                </div>
            </div>
            <!-- 轮询按钮 -->
            <ol class="carousel-indicators" >
                <li data-target="#myCarousel" data-slide-to="0" th:attr="data-slide-to=${iterStat.index}" th:each="Article,iterStat : ${carouseList}" th:class="${iterStat.index == 0} ? 'active':''" ></li>
            </ol>
            <!-- 轮询导航（箭头） -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
</body>
</html>