<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="icon" type="image/png" href="" th:href="@{images/icon/favicon.png}" />
    <link rel="stylesheet" href="" th:href="@{css/amazeui.min.css}"/>
    <link rel="stylesheet" href="" th:href="@{css/app.css}"/>
    <link rel="stylesheet" href="" th:href="@{css/sidebar.css}"/>
    <link rel="icon" sizes="192x192" href="" th:href="@{images/icon/app-icon72x722x.png}"/>
    <link rel="apple-touch-icon-precomposed" th:href="@{images/icon/app-icon72x722x.png}"/>
</head>
<body>

</body>
</html>