<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>文章存档</title>
    <meta th:replace="common/meta :: meta"/>
    <link th:replace="common/link :: link"/>
</head>

<body id="blog-article-sidebar">
<div th:replace="common/header :: header"></div>


<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed blog-content">
    <div class="am-u-sm-12">
        <h1 >关于博主:</h1>
        <div>2011年6月毕业于西北某二流大学电子信息科学与技术专业。</div>
        <div>2011年9月-2015年3月在当地商场担任运维工程师。</div>
        <div>2015年公司业务巨幅亏损，离职到北京进入某培训机构学习J2EE技术，期间毕业设计拿了当期一等奖。</div>
        <div>2016年年初进入北京易联汇华担任Java开发工程师至今。</div>
    </div>
</div>
<!-- 底部 -->
<div th:replace="common/footer :: footer"></div>
</body>
<!-- 通用js引入 -->
<div th:replace="common/script :: script"></div>
</html>